<h2>
  订单明细(<%= render_order_paid_state(@order)%>)

</h2>

<%= render "admin/orders/state_option", order: @order %>

<table class="table table-bordered">
  <tr>
    <th>Product_Title</th>
    <th>Product_Price</th>
    <th>Product_Quantity</th>
  </tr>
  <% @productlists.each do |pl| %>
  <tr>
    <td><%= pl.product_name %></td>
    <td><%= pl.product_price %></td>
    <td><%= pl.quantity %></td>
  </tr>
  <% end %>
</table>

<div class="pull-right">
  总计 <%= @order.total %> RMB
</div>

<h2>寄送资讯</h2>

<div class="panel panel-danger">
  <div class="panel-heading">
    订购人
  </div>
  <div class="panel-body">
    <%= @order.billing_name %> - <%= @order.billing_address %>
  </div>
</div>
<div class="panel panel-danger">
  <div class="panel-heading">
    收件人
  </div>
  <div class="panel-body">
    <%= @order.shipping_name %> - <%= @order.shipping_address %>
  </div>
</div>
